.main-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  margin-top: 120px;
}

.footerText {
  color: #0913b1;
}

.logoFooter {
  margin-top: 5px;
}

@media (max-width: 760px) {
  .main-footer {
    width: 100%;
    text-align: center;
  }

  .footerText {
    font-size: 12px;
  }

  .logoFooter {
    width: 50%;
    height: auto;
  }
}
